In [5]:
import pandas as pd
import numpy as np
import scipy.stats as ss

import lightfm
import lightfm.data as ld
import lightfm.evaluation as lv

import glob
import tqdm
import json
import optuna

import matplotlib.pyplot as pl


np.random.seed(31337)

In [6]:
data = pd.concat([
    pd.read_json(data_path, lines=True) 
    for data_path 
    in glob.glob("/tmp/*/data.json")
])
data["rnd"] = np.random.random(len(data))

data.head(5)

,message,timestamp,user,track,time,latency,recommendation,experiments,rnd
0,next,2024-04-12 20:33:49.514,3255,177,1.00,0.000828,491.0,{'AB': 'T1'},0.721852
1,next,2024-04-12 20:33:49.519,3255,491,0.05,0.000738,1878.0,{'AB': 'T1'},0.966441
2,next,2024-04-12 20:33:49.523,3255,1878,0.68,0.000700,525.0,{'AB': 'T1'},0.289049
3,next,2024-04-12 20:33:49.527,3255,525,0.73,0.000790,2131.0,{'AB': 'T1'},0.171346
4,next,2024-04-12 20:33:49.531,3255,2131,0.08,0.000717,1117.0,{'AB': 'T1'},0.371618